.aboutus-para-lighttxt {
  color: rgb(143, 140, 140);
  font-size: 13px;
  margin: 20px 0px 30px 0px;
  width: 100%;
  text-align: center;
}
.aboutus-h1 {
  text-align: center;
  margin-top: 20px;
}
.aboutus-p {
  padding: 5px;
}
.aboutus-head-lighttxt {
  color: gray;
  font-weight: bold;
  font-size: small;
  margin: 20px 0px 20px 0px;
}
.aboutus-li ul {
  padding: 5px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .aboutus-para-lighttxt {
    margin: 20px 0px 30px 12px;
    width: 95%;
  }
}
