/* Navbar.css */
* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}


/* Image css */

.overlay {
  text-align-last: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  color: black;
}

.para-1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}
.para-2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
}

button {
  background-color: yellow;
  color: #000000;
  padding: 8px 8px 10px 7px;
  border: none;
  cursor: pointer;
  /* width: 110px; */
  font-size: small;
  font-weight: 450;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 12px;
  }

  button {
    padding: 8px 16px;
  }
  .overlay {
    text-align-last: left;
    
    position: absolute;
    top: 15%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: black;
    height: 50px;
  }
  .para-1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5px;
  }
  .para-2 {
    font-size: 7px;
    line-height:1;
    margin-bottom:5px;
  }  
  .button-img {
    width: 60px!important;
    height: 12px!important;
    margin-top: 15px;
}
}
/* First Div */
.div-main {
  margin: 0px;
}
.div-1 {
  /* text-align-last: left; */
  margin: 10px;
  /* margin-left: 181px; */
  margin: 20px 20px 0px 181px;
}
.head-lighttxt {
  color: gray;
  font-weight: bold;
  font-size: small;
  margin: 20px 0px 20px 0px;
}
.main-txt {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  margin: 20px 0px 20px 0px;
}
.para-lighttxt {
  color: rgb(143, 140, 140);
  font-size: 13px;
  margin: 20px 0px 30px 0px;
  width: 100%;
}
/* .Quality-link {
  color: "black";
  font-size: 12px;
  margin-left: 5px;
} */
.div-2 {
  margin-top: 51px;
}
.div-2child {
  display: flex;
  margin: 30px 30px 35px 30px;
}
.div-2child-img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.div-2child-dark-txt {
  color: #000000;
  font-size: 15px;
  margin-left: 10px;
}
.div-2child-light-txt {
  color: rgb(143, 140, 140);
  font-size: 13px;
  padding: 2px 0px 5px 0px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .div-main {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .div-1 {
    width: 90% !important;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
  }
  .div-2 {
    width: 100% !important;
    flex-direction: column;
    margin: 10px;
    margin-right: 80px;
  }
}
/* First Div End */

/* Second Div */
.bg-image-div {
  width: "100%";
  height: "648px";
  background-image: url("D:\Projects\react-webpage\public\img\Background.png");
  background-size: cover;
  background-position: center;
}
.div-20 {
  width: 40%;
  margin-top: 80px;
}
.sec-div-main {
  width: 100%;
  display: flex;
  margin-top: -40px;
}
.bottom-flex {
  display: flex;
  margin-left: 184px;
  margin-top: 75px;
}
.bottom-flex-child {
  align-items: center;
  text-align: center;
  margin-right: 90px;
  font-size: 11px;
}
.bottom-flex-para {
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .bg-image-div {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .sec-div-main {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .div-20 {
    width: 100%;
    margin: 0px;
    align-items: center;
    color: red;
  }
  .bottom-flex {
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
  }

  .bottom-flex-child {
    width: 100%;
    margin: 10px 0;
  }
}
/* Second Div End */

/* Third div start */
.third-div-main {
  width: 100%;
  display: flex;
  margin: 0px 0px 50px 0px;
}
.third-div1 {
  width: 65%;
  align-items: center;
  margin: 60px 0px 15px 185px;
}
.third-div1-p1 {
  font-size: 15px;
  color: #000000;
  margin-bottom: 10px;
}
.third-div-p2 {
  color: rgb(143, 140, 140);
  font-size: 13px;
}
.third-div1-child {
  display: flex !important;
}
.third-div1-img {
  width: 200px;
  height: 130px;
  margin-right: 15px;
  margin-top: 30px;
}
.third-div1-img-p {
  font-size: 11px;
  color: #000000;
  text-align: center;
  margin: 5px;
  width: 180px;
}
.third-div2 {
  width: 35%;
  align-items: center;
  margin-top: 50px;
}
.third-div2-1 {
  display: flex;
  background-color: #f7f4f4;
  box-shadow: 0px 4px 0px 0px #dbbd02;
}
.div-third-dark-txt {
  color: #000000;
  font-size: 13px;
  margin-left: 10px;
}
.div-third-light-txt {
  color: rgb(143, 140, 140);
  font-size: 8px;
  padding: 2px 0px 5px 0px;
  margin-left: 10px;
}
.div-third-img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-left: 30px;
}
/* .third-div2-2 {

} */
.third-div2-2-p {
  font-size: 15px;
  margin-top: 20px;
}
.third-div2-2-p-img {
  width: 13px;
  height: 13px;
  margin-top: 12px;
}
.third-div2-2-p2 {
  font-size: 10px;
  margin: 10px 0px 5px 7px;
}

@media screen and (max-width: 768px) {
  .third-div-main {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .third-div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  .third-div1-img {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .third-div1-child {
    display: flex;
    flex-direction: column;
  }
  .third-div-p {
    margin: 20px;
  }
  .third-div2 {
    width: 100%;
    align-items: center;
  }
  .third-div2-2 {
    margin: 10px 10px 30px 90px;
  }
  .third-div2-1 {
    width: 100%;
  }
  .div-2child {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
}
/* Third div end */

/* fourth div start */
.fourth-div {
  width: 100%;
}
.fourth-div-1 {
  width: 100%;
}
.fourth-div-p1 {
  color: gray;
  font-weight: bold;
  font-size: small;
  margin-bottom: 5px;
  margin-left: 187px;
}
.fourth-div-p2 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 187px;
}
.fourth-div-p3 {
  margin-bottom: 30px;
  font-size: 15px;
  margin-left: 187px;
}
.fourthdiv-2 {
  width: 100%;
}
.container {
  display: flex;
  /* align-items: center; */
  margin-left: 178px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}

.card {
  width: 280px;
  /* border: 1px solid #ccc; */
  margin: 10px;
  overflow: hidden;
  background-color: #fff;
  /* display: flex; */
}

.card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-body {
  padding: 15px 15px 15px 0px;
}

.card-title {
  margin-bottom: 5px;
}

.card-text {
  color: rgb(143, 140, 140);
  font-size: 13px;
  margin-bottom: 10px;
}

.card-link {
  font-size: 13px;
  color: black;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .fourth-div-1 {
    width: 100%;
  }
  .fourth-div-p1 {
    padding: 5px 20px 5px 20px;
    margin: 0;
  }
  .fourth-div-p2 {
    padding: 5px 20px 5px 20px;
    margin: 0;
  }
  .fourth-div-p3 {
    padding: 5px 20px 5px 20px;
    margin: 0;
  }
  .fourthdiv-2 {
    width: 100%;
  }
  .container {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .card {
    width: 80%;
  }
}
/* fourth div end */

/* Fifth div start */
.fifth-div {
  width: 100%;
  height: 670px;
  background-image: url(D:\Projects\react-webpage\public\img\Background2.png);
  /* background-size: cover; */
  align-items: center;
}
.fifth-div-child {
  width: 100%;
  position: absolute;
  margin-top: 183px;
}
.fifth-div2 {
  display: flex;
  /* align-items: center; */
  margin-left: 178px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.card5 {
  width: 450px;
  /* border: 1px solid #ccc; */
  margin: 10px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
}

.card5-img {
  width: 45%;
  height: 250px;
  object-fit: cover;
}

.card5-body {
  padding: 50px 15px 15px 19px;
}

.card5-title {
  margin-bottom: 5px;
}

.card5-text {
  color: rgb(143, 140, 140);
  font-size: 13px;
  margin-bottom: 10px;
}

.card5-link {
  font-size: 13px;
  color: black;
  text-decoration: none;
}
.button-img {
  width: 140px;
  height: 30px;
  margin-top: 18px;
}
.fifth-div-main {
  width: 100%;
}

@media (max-width: 768px) {
  .fifth-div {
    width: 100%;
    height: 792px;
    flex-direction: column;
    align-items: center;
  }
  .fifth-div-child {
    width: 100%;
   margin-top: 0!important;
    
  }
  .button-img {
    width: 100px;
    height: 20px;
    margin-top: 15px;
  }

  .card5 {
    width: 80%;
  }
  .fifth-div2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 10px 0px 50px 30px;
  }
  .card5-body {
    padding: 40px 15px 15px 19px;
  }
  .card5-img {
    width: 50%;
  }
}
/* Fifth div end */
/* footer */

